<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Colegio Sagrada Reprobación - Historial</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="divtitle">
						<h1 class="title">Colegio Sagrada Reprobación</h1>
						<span class="navbar-brand text-center text-black">Usuario Logeado : </span><span class="navbar-brand text-center text-black">
							{{ nomUsuario }}
						</span>
					</div>
                    <div class="divmenu">

						{% if his %}

						<h2 class="menu">Historial</h2>					
                    
						
						<table class="table table-hover" style="width:95%; margin:auto;">
							<thead>
								<tr class="text-center">
									<th>ID</th>
									<th>USUARIO</th>
									<th>ACCION</th>
									<th>TABLA</th>
									<th>FECHA y HORA</th>
								</tr>
							</thead>
							<tbody class="text-center">
								
		
								{% for x in his %}
								<tr class="align-middle">
									<td>{{ x.id }}</td>
									<td>{{ x.usuario.nombre_usuario }}</td>
									<td>{{ x.descripcion_historial }}</td>
									<td>{{ x.tabla_afectada_historial }}</td>
									<td>{{ x.fecha_hora_historial }}</td>
								</tr>
								{% endfor %}							
		
		
							</tbody>
						</table>
		
						{% else %}
							<h2 class="text-danger text-center">
								No Hay Acciones Realizadas Para Presentar!!
							</h2>
						{% endif %}
                        
                    </div>
                    <div class="text-center2">
                        <a class="btn btn-danger" href="/menuadmin">Volver</a>
                    </div>
					<div class="footer">
						Copyright &copy; 2023 &mdash; Colegio Sagrada Reprobación
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>