<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Colegio Sagrada Reprobación - Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="divtitle">
						<h1 class="title">Colegio Sagrada Reprobación</h1>
					</div>
					<div class="brand">
						<img src="{% static "imagenes/logo.png" %}" alt="logo"/>
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Login</h4>
							<form action="/login" method="post" class="my-login-validation" novalidate="">
								{% csrf_token %}
								<div class="form-group">
									<label for="username">Nombre de Usuario </label>
									<input id="username" type="text" class="form-control" name="txtusu" value="" required autofocus>
									<div class="invalid-feedback">
										Nombre de usuario no es válido
									</div>
								</div>
								

								<div class="form-group">
									<label for="password">Clave</label>
									<input id="password" type="password" class="form-control" name="txtpas" required>
								    <div class="invalid-feedback">
								    	Clave Requerida
							    	</div>
								</div>

								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="remember" id="remember" class="custom-control-input">
										<label for="remember" class="custom-control-label">Recordarme</label>
									</div>
								</div>

								<div class="form-group m-0">
									<button class="btn btn-primary btn-block mb-4">Login</button>
								</div>
							</form>

							{% if r2 %}
								<div class="alert alert-danger alert-dismissible fade show" role="alert">
									<h5>{{r2}} </h5>
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
							  </div>
							{% endif %}
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2023 &mdash; Colegio Sagrada Reprobación
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
