<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Colegio Sagrada Reprobación - MenuDocente</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<script>
		const botonCerrarSesion = () => {
			if(window.confirm("Esta Seguro De Querer Cerrar La sesion?")){
				window.location.href = "/logout";
			}
		}
	</script>
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="divtitle">
						<h1 class="title">Colegio Sagrada Reprobación</h1>
					</div>
                    <div class="navbar-brand text-center text-black-50">
                        Usuario Logeado: {{ nomUsuario }}
                    </div>
					<div class="divmenu">
						<h2 class="menu">Menu Docente</h2>
					</div>
                    <nav>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link btn btn-primary" href="/jefatura">Ver Jefatura</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-primary" href="/cursos_docente">Ver Cursos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-primary" href="/perfil_docente">Ver Perfil</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="text-center">
                        <a class="btn btn-danger" href="#" onclick="botonCerrarSesion()">Cerrar Sesión</a>
                    </div>
					<div class="footer">
						Copyright &copy; 2023 &mdash; Colegio Sagrada Reprobación
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="js/my-login.js"></script>
</body>
</html>
