<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Colegio Sagrada Reprobación - Perfil</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="divtitle">
						<h1 class="title">Colegio Sagrada Reprobación</h1>
					</div>
                    
                    <div class="divmenu">
						<h2 class="menu">Perfil						
						</h2>
					</div>
                    <div class="lista-perfil text-center">					
                        <h3>Información del Usuario</h3>
                        <br>						
						<div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                    <tr>
                                        <td><strong>Nombre de usuario:</strong></td>
                                        <td>{{ usuario.nombre_usuario }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Contraseña:</strong></td>
                                        <td>{% if mostrar_contraseña == 'si' %}
                                                {{ usuario.password_visible }} 
                                                <a href="?mostrar_contraseña=no"> Ocultar  </a>
                                            {% else %}
                                                ***** 
                                                <a href="?mostrar_contraseña=si"> Mostrar  </a>
                                            {% endif %}
                                        </td>
                                    </tr>
									<tr>
										<td><strong>Rol:</strong></td>
                                        <td>{{ rol }}</td>
									</tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="text-center2">
                        <a class="btn btn-danger" href="/menudocente">Volver</a>
                    </div>
					<div class="footer">
						Copyright &copy; 2023 &mdash; Colegio Sagrada Reprobación
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>